<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <mat-tab-group mat-align-tabs="start">
        <mat-tab
          [label]="items.menu_category"
          *ngFor="let items of strService?.hotelData[0]?.table_menu_list"
        >
          <ng-template matTabContent>
            <div
              *ngFor="let item of items.category_dishes; let i = index"
              class="border mt-2 p-2"
            >
              <div class="row">
                <div class="col-7">
                  <p class="text-bold" style="word-wrap: break-word">
                    {{ item.dish_name }}
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <p class="text-bold" style="word-wrap: break-word">
                    {{ item.dish_currency }}:{{ item.dish_price }}
                  </p>
                </div>
                <div class="col-6 d-flex justify-content-center">
                  <p
                    class="text-bold"
                    style="word-wrap: break-word; width: 40%"
                  >
                    {{ item.dish_calories + "" + "calories" }}
                  </p>
                </div>
                <div class="col-3 d-flex justify-content-center">
                  <img
                    [src]="item.dish_image"
                    alt="img not loaded"
                    style="width: 50px; height: 50px"
                  />
                </div>
                <div class="row">
                  <div class="col-md-7">
                    <p
                      class="text-secondary"
                      style="word-wrap: break-word; width: 50%"
                    >
                      {{ item.dish_description }}
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div
                      class="btn-group"
                      role="group"
                      aria-label="Basic example"
                    >
                      <button
                        type="button"
                        class="btn btn-success"
                        (click)="removeItem(i)"
                      >
                        <i class="fa fa-minus" aria-hidden="true"></i>
                      </button>
                      <button type="button" class="btn btn-success">
                        {{ incrementItem[i] ? incrementItem[i] : 0 }}
                      </button>
                      <button
                        type="button"
                        class="btn btn-success"
                        (click)="addItem(items.category_dishes, i)"
                      >
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-8" *ngIf="checkAddon(item.addonCat)">
                    <p class="text-danger">customisation enabled</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <!-- <mat-tab label="Second">Content 2</mat-tab>
        <mat-tab label="Third">Content 3</mat-tab> -->
      </mat-tab-group>
    </div>
  </div>
</div>
